.grad-bg {
    background-image: linear-gradient(to right top, #2603cf, #1629d5, #073dda, #084ddc,
            #195cde, #0071e9, #0084f1, #0097f7, #00b4ff, #00ceff, #00e5fa, #5ffbf1);
}

.lbl-input {
    display: flex;

}

.bg-image {
    background-image: url('../assets/bg/bg-sign2.jpg');
    /* Replace with the path to your image */
    background-size: cover;
    /* Adjust the size of the background image */
    background-position: center;
    /* Center the background image */
}

button {
    @apply w-5/12;
    background-color: #0071e9;
}

label {
    text-align: center;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: bold;
}
span {
   color:#00b4ff;
    cursor: pointer;
}